html,
body {
  margin: 0;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
  background-color: #ecf0f3;
  height: 100%;
  max-width: 1400px;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
  scroll-behavior:smooth;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
}
